@{
    ViewBag.Title = "AccAccs";
}
@section Styles {
    <link href="@Url.Content("~/Styles/konto.css")" rel="stylesheet" type="text/css" />
}
<div id="przyciski" class="float-left col-12 col-md-2">
    <button type="button" class="btn btn-light" id="wyl-btn">Wyloguj</button><br><br>
    <div id="con" class="btn-group-vertical">
        <button type="button" class="btn btn-light bt">Dane Konta</button>
        <button type="button" class="btn btn-light bt">Zamówienia</button>
        <button type="button" class="btn btn-light bt">Konta</button>
    </div>
</div>

<h1 id="k">Konta:</h1>
<div id="dane" class="float-right col-11 col-md-8 zam-d">
    <div id="wyszukiwanie"><button type="button" class="btn btn-info float-right" id="znajdz">Szukaj</button><input class="float-right" type="text" name="find" placeholder="Szukaj" id="find"></div>
    <div id="prod" class="h"><span class="float-left"><h2>Klienci</h2></span><span class="float-right">˄</span></div>
    <div id="cli">
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
    </div>
    <div id="prod" class="h"><span class="float-left"><h2>Pracownicy</h2></span><span class="float-right">˄</span></div>
    <div id="cli">
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
    </div>
    <div id="prod" class="h"><span class="float-left"><h2>Administratorzy</h2></span><span class="float-right">˄</span></div>
    <div id="cli">
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
        <div id="prod" class="small-p">
            <button type="button" class="float-right btn btn-light" id="det">Dane</button>
            <div class="float-left" id="id">9076</div>
            <div class="float-left" id="nazwa">Staszek</div>
        </div>
    </div>
</div>